body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}

a {
    color: #FFB612;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: rgba(24,48,40,0.8);
    z-index: 999999;
    text-align: center;
}

.overlay-text {
    font-family: sans-serif;
    color: #FFB612;
}

#button {
    background-color: #FFB612;
    border: 2px solid #203731;
    border-radius: 8px;
    padding: 14px 32px;
    font-size: 16pt;
    color: #203731;
}